body {
    margin: 0;
    background-color: rgb(211, 228, 243);
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #333333;
    width: 250px;
}

.menu-items {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}


.active-menu {
    background-color: rgb(183, 220, 252);
}

.menu-items:hover {
    background-color: rgb(183, 220, 252);
}

.menu-img {
    width: 30px;
}

.menu-text {
    margin-left: 10px;
    font-size: 25px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-cards {
    background-color: rgb(236, 233, 233);
    height: 300px;
    width: 250px;
    margin: 20px;
    border-radius: 10px;
}

.product-img {
    border-radius: 10px 10px 0 0;
    height: 100px;
    width: 150px;
}

.product-text {
    text-align: center;
}

.home {
    width: 250px;
    height: 200px;
}

.footer {
    display: none;
}



@media screen and (max-width: 600px) {    /* Small Devices  */

    .container {
        display: flex;
        height: 1600px;
    }

    .sidebar {
        display: none;
    }

    .footer {
        background-color: #333333;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        bottom: 0;
    }

    .footer-img {
        height: 50px;
    }
}

/* Normal Devices  */
@media screen and (min-width: 601px) and (max-width: 768px) {       
    

    .container {
        display: flex;
        height: 1600px;
    }

    .sidebar {
        display: none;
    }

    .footer {
        background-color: #333333;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        bottom: 0;
    }

    .footer-items {
        background-color: #fff;
        border-radius: 7px;
    }

    .footer-img {
        height: 50px;
    }
}


@media screen and (min-width: 769px) and (max-width: 992px) {

    .sidebar {
        background-color: #333333; /* Tablets Devices  */
        width: 250px;
        height: 1280px;
    }

    .product-cards {
        background-color: rgb(236, 233, 233);
        height: 400px;
        width: 350px;
        margin: 10px;
        border-radius: 10px;
    }

    .product-img {
        border-radius: 10px 10px 0 0;
        height: 200px;
        width: 350px;
    }
}
